# Ignorar configurações do PyCharm/IntelliJ
.idea/
*.iml

# Ignorar ambiente virtual e compilados
venv/
__pycache__/
*.pyc

# Variáveis de ambiente
.env

#pesquisar mais sobre segurança em python

erros.log